@mixin event($borderColor,$focusColor) {
  &:hover{
    background-color: $focusColor;
  }
  border: solid $borderColor 1px;
  border-radius: 10px;
  padding:10px 10px;
  margin: 1em 1em;
  .event-detail{
    .status {
      .approved {
        background-color: #027707;
        padding: 5px 10px;
        color: white;
        font-weight: 600;
        border-radius: 10px;

      }

      .requested {
        background-color: #e50000;
        padding: 5px 10px;
        color: white;
        border-radius: 10px;
        font-weight: 600;
      }
    }
    .event-name{
      text-transform: capitalize;
      font-size: 1.5em;
    }
    .event-date{
      opacity: 0.5;
    }
    .event-content{
      color: #363636;
    }
    .go-event-button{
      background-color: #0019c6;
      margin: 0;
      text-transform: capitalize;
    }
  }
  .event-image-col{
    .event-cover-image{
      width: 100%;
      height: auto;
    }
  }
}
.current-events {
  min-height: 100vh;
  height: 100%;
  display: flex;
  position: relative;
  .event-closed{
    @include event(#565656, #c4c4c4)
  }
  .event-upcoming{
    @include event(blue, #d0d0ff)
  }
  .event-requested{
    @include event(red, #ffd8d8)
  }
}

@media (max-width: $breakpoint-md) {
  .current-events {
    .sidebar-toggle-btn-col {
      .btn-toggle {
        display: flex;
      }
    }
    .event{
      .event-image-col{
        .event-cover-image{
          height: 100%;
        }
      }
    }
  }
}
