.login {
  .MuiLink-underlineHover {
    cursor: pointer;
  }
  .login-error-label{
    color: red;
    justify-content: center;
  }
  .register-error{
    color:red;
    font-size:0.5em;
  }
  .MuiFormControl-root {
    margin-top:5px;
  }
}