.form-group {
  .wrapperClassName {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;

  }

  .editorClassName {
    background-color: #e3e1e1;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .toolbarClassName {
    border: 1px solid #ccc;
    border-radius: 10px;
  }
}
